<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Web - About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h2>I'm a full-stack developer, practicing the best technologies to do applications.</h2>
    <p>Today working with all JavaScript ecosystem, from the web services to the front-end. Enjoying all the power of the stacks NodeJS, ReactJS and React Native.</p>
    <p>Passionate about programming, I was always curious to understand how things work, when the desire arose to not only understand, but also to create, this is how I started my journey, which I continue to this day, with this objective in mind...</p>
  </div>
  {{>footer}}
</body>
</html>