<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Web - Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h2>Application developed under two APIs to see basic information about weather.</h2>
    <p>To use, just search for your location (city, state, country or zip code). In the case of other cities with the same name, search together your state.</p>
    <p><b>{{help}}</b></p>
  </div>
  {{>footer}}
</body>
</html>